@model ItWebSite.Core.DbModel.News51Cto
@using System.Web.Mvc.Html

@{
    ViewBag.Title = "新建51CTO新闻";
}
<h2>新建51CTO新闻</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>新闻</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { style = "width:800px" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsPublish)
                @Html.ValidationMessageFor(model => model.IsPublish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewsType.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NewsType.Id, Model.NewsTypeList.Select(t => new SelectListItem
                {
                    Text = t.Name,
                    Value = t.Id.ToString()
                }))
                @Html.ValidationMessageFor(model => model.NewsType.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Creater, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Creater)
                @Html.ValidationMessageFor(model => model.Creater)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifier)
                @Html.ValidationMessageFor(model => model.LastModifier)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
