@model ItWebSite.Web.Models.OrderViewModel
@{
    ViewBag.Title = "祥细";
}
<h2>订单祥情</h2>
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Order.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Order.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Order.CustomerPhone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Order.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Order.ReceiveAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Order.ReceiveAddress, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                产品名称
            </th>
            <th>
                价格
            </th>
            <th>
                数量
            </th>
            <th>
                总金额
            </th>
        </tr>
        @for (var i = 0; i < Model.OrderItemViewList.Count(); i++)
        {
            <tr>
                <td>
                    <a href="/Products/Details/@Model.OrderItemViewList[i].OrderItem.Product.Id">@Model.OrderItemViewList[i].OrderItem.Product.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(x => x.OrderItemViewList[i].OrderItem.Price)

                </td>
                <td>
                    @Html.DisplayFor(x => x.OrderItemViewList[i].OrderItem.Count)

                </td>
                <td>
                    @Html.DisplayFor(x => x.OrderItemViewList[i].OrderItem.Total)
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        @Html.LabelFor(model => model.Order.TotalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Order.TotalPrice, new { htmlAttributes = new { @class = "form-control" } })


        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="确认删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Complete")
        </div>
    }

</div>

  
 
