@using System.Web.Mvc.Html
@using ItWebSite.Web.Help
@model PagedList.IPagedList<ItWebSite.Core.DbModel.BlogContent>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "技术分享网";
    }

    <h2>最新博客</h2>

    @using (Html.BeginForm("Index", "BlogContents", FormMethod.Get))
    {
        <p>
            输入查找内容: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    @foreach (var item in Model)
    {
        <div>
            <h2>
                @Html.ActionLink(@item.Title, "Details", new { id = item.Id })
            </h2>
            <div class="col-md-6">
                <div class="pull-left">
                    来源：<a href="#">@item.Creater</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    最后修改时间 @item.LastModifyDate
                </div>
            </div>

            <p>@Html.Raw(item.Content.StripTagsRegex().ToSummary(100))</p>


        </div>
    }

    <br />
    页数 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 总数 @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
