@model ItWebSite.Core.DbModel.Comment

@{
    ViewBag.Title = "删除";
}
<h2>删除留言</h2>

<h3>你确定要删除这条留言吗?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifier)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
