@model ItWebSite.Core.DbModel.CnblogsBlog

@{
    ViewBag.Title = "删除";
}

<h2>删除</h2>

<h3>你确定要删除此博客?</h3>
<div>
    <h4>博客</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogContentType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogContentType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogFromUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogFromUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifier)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
