@using ItWebSite.Web.Help
@model IEnumerable<ItWebSite.Core.DbModel.Product>

@{
    ViewBag.Title = "列表";
}

<h2>产品列表</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discrption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
 
        <th>
            @Html.DisplayNameFor(model => model.LastModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.Raw(item.Discrption.StripTagsRegex().ToSummary(30))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.LastModifyDate)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.LastModifier)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("祥细", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
